{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Based in Nairobi, Kenya, Restaurante is a family owned
          Spanish dishes restaurant.
        </p>
        <p>
          We draw inspiration from traditional italian dishes
        </p>

        <p>
          The restaurant has a rustic and relaxed atmosphere with moderate
          prices, making it a popular place for a meal any time of the day.
        </p>

        <p>
         Restaurante is owned Restaurante ltd Company.
        </p>

        <p>
         The menu is crafted carefuly for maximum utilization of spanish cuisines
        </p>

        <p>
         Make sure you try our dishes
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Mario and Adrian"
          />
          <figcaption class="figure-caption">
            Restaurante HQs
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
